!!!
%html
  %head
    %title Menu Solver Pro
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .content
      .row
        .span6.offset6#mainbox
          .header
            %h1 Menu Solver
            %h2 Pro
            %h3 2000-EX
          = yield